

.app-body {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.left-menu {
  flex: 0 0 250px;
}

.right-menu {
  flex: 1;
  margin-left: 1rem;
}
